@import "../../../node_modules/@fontsource/outfit/index.css";

//Primary

$SoftBlue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);

// Neutral

$VeryDarkBlue: hsl(217, 54%, 11%);
$VeryDarkBlueCard: hsl(216, 50%, 16%);
$VeryDarkBlueLine: hsl(215, 32%, 27%);


body{
    font: 400 18px/1.5 Outfit;
    height: 100vh;
    background-color: $VeryDarkBlue;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: $VeryDarkBlueCard;
        width: 20vw;
        height: 60vh;
        border-radius: 10px;

        header {
            width: 100%;
            height: 65%;
            img {
                border-radius: 10px;
                width: 85%;
                z-index: 1;
            }
            svg {
                z-index: 2;
                position: absolute;
                width: 100%;
                height: 100%;
            }
            
        }
        header:hover{
            svg {
                background-color: hsla(178, 100%, 50%, 0.4);
            }
        }

        main {
            display: flex;
            flex-direction: column;
            div {
                display: flex;
            }
        }

        footer {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: auto;
        }
    }
}

img[src="assets/images/image-avatar.png"] {
    width: 10%;
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }
