@use "~@fontsource/outfit/scss/mixins" as MainFont with (
    $weights: (
        300,
        400,
        600,
    )
);

//Primary

$SoftBlue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);

// Neutral

$VeryDarkBlue: hsl(217, 54%, 11%);
$VeryDarkBlueCard: hsl(216, 50%, 16%);
$VeryDarkBlueLine: hsl(215, 32%, 27%);


body{
    font: 400 18px/1.5 $MainFont;
    background-color: $VeryDarkBlue;
    color: white;
}

.container {
    margin: 10%;
    background-color: $VeryDarkBlueCard;
    border-radius: 10px;
    width: 90%;
    img {
        border-radius: 10px;
        width: 95%;
        height: 50%;
        margin: 5% auto;
    }
    hr {
        border-top: 1px solid $SoftBlue;
        width: 80%;
    }
}

img[src="images/image-avatar.png"] {
    width: 10%;
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }
